.env.local
datos-edunautica-a137d0c6c8cc.json
Data
horas_documentadas.txt
production_pipeline/results
Notebooks/mlruns
/models/
Notebooks/<class 'pathlib.Path'>
__pycache__
*.py[cod]
checkpoints
results
EntregableTec